
.header-container{
  display: flex;
  flex-wrap:wrap;
  background-color: #DBBF6A;

}
.body-containers{
  display: flex;
  flex-wrap:wrap;
  background-color: #057DCD;
}
li:hover, li:active{
  background-color: #FFFFFF;

  display: block;
}
.nav-buttons{
  background-color:  #437C17;
  width: 349px;
  min-width: 150px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  border: 2px solid black;
  cursor:pointer;
}
.profile-image{
  height:15rem;
  width: 15rem;
  margin: 0 0 0 10px;

}

.header-container{
  display: flex;
  flex-wrap: wrap;
}
.site-header-name{
  width: 40%;
  height: 100px;
  font-size: 5rem;
  border-radius: 12px;
  margin: 3rem 0 0 5rem;
}
.site-header-page{
  width:31%;
  height: 100%;
  font-size: 5rem;
  margin: 3rem 0 0 10rem;
}
.main-class{
  min-width: 1745px;
  max-width: 1745px;

}
.text-body{
  font-size: 1.5rem;
  border: 3px solid black;
  border-radius: 25px;
  background-color: #FFFFFF;
  padding: 20px;
  margin: 25px 240px 125px 100px;
  width: 500px;
}



.footer{
  background-color: #43B0F1;
}


