.site-header-name{
  grid-row-start: 1;
  grid-column-start: 1;
  padding: 0 0 0 3rem;
  font-size: 3.5rem;
  float: left;
  font-weight: bold;

}

.site-header-page{
  padding: 0 0 0 50rem;
  font-size: 3.5rem;
  font-weight: bold;
  float: start;
}

.left-text-header{
  padding: 3rem 0 0 3rem;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
}

.left-text{
  padding: 6rem 0 0 3rem;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;

}

.right-text-header{
  padding: 3rem 0 0 3rem;
  grid-column-start: 5;
  grid-column-end: 8;
  grid-row-start: 1;
}
.right-text{
  padding: 6rem 0 0 3rem;
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 1;

}

.profile-image{
  grid-column-start: 8;
  height: 15rem;
  float: right;
}

.footer{
  padding: 2rem 3rem 0 0;
  float: right;
}

.content-wrapper{
  display:grid;
  grid-template-columns: 10rem 10rem 10rem 10rem 10rem 10rem 10rem;
  grid-template-rows: 10rem 10rem 10rem 10rem 10rem;
}


.site-nav{
  margin: 40px 0 0 1rem;
}

.nav-buttons{
  grid-row-start: 1;
  font-size: 3.5rem;
  display: inline;
  border: 2px solid black;
  padding: 0 3rem 0 3rem;
  background: lightgrey;
}
